:root {
    /* --primary-color: #0052cc; */
    /* --bg-color: #f4f7f9;
    --text-dark: #2c3e50;
    --border-color: #dcdfe3; */
}

.healthcare-login-container {   
    height: 100vh;
    display: flex;
    padding: 180px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Inter', sans-serif;
}



.login-card {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
}

.brand-section {
    text-align: center;
    margin-bottom: 30px;
}

.medical-logo {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.brand-section h2 {
    margin: 0;
    color: var(--text-dark);
}

.brand-section p {
    color: #7f8c8d;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--text-dark);
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 12px;
    color: #95a5a6;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.3s ease;
}

.input-wrapper input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(0, 82, 204, 0.1);
}

.eye-btn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    color: #95a5a6;
    cursor: pointer;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.login-submit-btn {
    width: 100%;
    padding: 14px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.1s;
}

.login-submit-btn:hover {
    background-color: #206e70;
}

.login-footer {
    text-align: center;
    margin-top: 25px;
    font-size: 13px;
}

.security-note {
    margin-top: 20px;
    font-size: 11px;
    color: #95a5a6;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Add a simple spinner for the loading state */
.spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
}

.checkbox-container {
    display: flex;
    gap: 10px;

    input {
        height: 20px;
        width: 20px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}