* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #2a6e8f;
    --primary-light: #e8f4fc;
    --text-dark: #333333;
    --text-medium: #555555;
    --success-color: #2ecc71;
    --text-light: #777777;
    --bg-light: #f9fafc;
    --border-color: #e1e5eb;
    --sidebar-width: 260px;
    --header-height: 88.5px;
}